.PostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 80vh;
    background-color: #293646;
}
.PostContainerB{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}
#postImg{width: 200px; height: auto;}