.PostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 80vh;
    background-color: #293646;
}
.PostContainerB{
    background-color: white;
    min-width: 500px;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.PostContainerB p {
    line-height: 1.75;
}
#postImg{width: 200px; height: auto;}