.blogsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #293646;
    min-height: 70vh;
}
.indvBlog-cont{
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
#moreButton{ 
    background-color: #fff;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s; 
  }