header{
    background-color: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav, .items-container ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.nav-link{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 15px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    color:black;
    transition: 0.3s;
    font-size: 1.2rem;
}
.nav-link:hover{ background-color: #333; color:white; transition:0.3s; }
footer{
    background-color: #ccc;
    width: 100%;
    min-height: 100px;
    padding: 20px;
}
.foot-columns{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.Socials, .footerLinksList{
    display: grid;
    grid-template-columns: auto;
}
.footerLinksList{text-align: center;}
.footerLinksList a, .Socials a { text-decoration: none; font-weight: 600; }
#foodEaze-logo{ width: 80px; border-radius: 10px; }
@media screen and (max-width: 500px){
    #foodEaze-logo{display:none;}
}
@media screen and (min-width: 992px){
    #foodEaze-text{ display:none; }
}
@media screen and (max-width: 700px){
    .foot-columns{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
}