header{
    background-color: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav, .items-container ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.nav-link{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 15px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color:black;
    transition: 0.3s;
    font-size: 1.5rem;
}
.nav-link:hover{ background-color: #333; color:white; transition:0.3s; }
footer{
    background-color: #ccc;
    width: 100%;
    min-height: 100px;
    padding: 20px;
}
#foodEaze-logo{ width: 80px; }
@media screen and (max-width: 500px){
    #foodEaze-logo{display:none;}
}
@media screen and (min-width: 992px){
    #foodEaze-text{ display:none; }
}