*{font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;}
main{ padding: 25px; background-color: #293646; display:flex; justify-content: center; align-items: center; flex-direction: column; }
.headerBanner{
  width: 100%;
  height: fit-content;
  max-height: 600px;
  padding: 0;
}
.headImg{ width: 100%; max-height: 600px;}
.container {display: flex; flex-wrap: wrap; justify-content: space-between;}
.topRow {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}
.popular{
  border: 1px solid transparent;
  max-width: 70%;
}
.popular div{
  padding: 20px;
}
.padding20{padding:20px;}
.newsLetter {
  flex: 1;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.formContainer{ display: flex; justify-content: center; align-items: center; background-color: #293646; padding:20px;}
form { display: flex; flex-direction: column; gap: 10px; background-color: white; color:black; width: 50vw; border-radius: 10px; padding: 10px; }
form div{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
#aboutYourself{ width: 500px; height: 250px;}
input[type="text"], input[type="date"], input[type="email"], input[type="password"], input[type="email"], textarea {
  padding: 15px;
  border: 2px solid black;;
  border-radius: 5px;
  width: 200px;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {background-color: #293646; color:white;}
textarea{ padding: 0.75rem; }
button[type="submit"], button[type="reset"] {
  padding: 10px;
  background-color: #293646;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.row2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.blogContainer {
  flex: 1;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  padding:20px;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.blogImg {width: 300px; height: auto; display: block; border-radius: 10px;}
.contBottom {padding: 10px;}
p {margin: 0;}
.cont-viewButton {
  background-color: #293646;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
#moreButton{ 
  background-color: #fff;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s; 
}
#browseMore-buttonLink {text-align: center; padding:10px;}
#browseMore-buttonLink button:hover{ background-color: #293646; color:white; transition: 0.3s; }
#browseMore-buttonLink a {text-decoration: none;}
#description{width: 400px; height: 200px;}

@media screen and (max-width: 500px){
  .headerBanner{ display: none;}
}