  .LoginForm-container{ display: flex; align-items: center; justify-content: center; background-color: #293646; min-height: 75vh;}
.LoginForm{
    background-color: white;
    max-width: 500px;
}

.ErrorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}